.button-default {
	position: relative;
	z-index: 0;
	// display: block;
	text-align: center;

	&.sub {
		.wrap {
			background-color: var(--secondary);
			color: black;
			font-size: 0.875em;
			height: 46px;
			border-radius: 10px;
		}
	}

	&.center {
		text-align: center;
	}

	.wrap {
		text-decoration: none;
		color: #a40000;
		text-align: center;
		display: inline-block;
		transition: var(--transition);
		font-size: 1rem;
		background-color: rgb(252, 247, 227);
		border-radius: 50px;
		height: 46px;
		padding: 0 30px 2px;
		position: relative;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		position: relative;
		overflow: hidden;
		font-weight: 600;
		// box-shadow: inset 5px 4px 5px 0 rgb(255 148 148);
		box-shadow: inset 0 -6px 12px rgba(248, 113, 113, 0.5);

		@media (max-width: 400px) {
			font-size: 0.875em;
		}
	}
}
