@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@font-face {
	font-family: "Budweiser Serif VN";
	src: url("@/assets/fonts/BudweiserSerifVN-Bold.woff2") format("woff2");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Budweiser Serif VN";
	src: url("@/assets/fonts/BudweiserSerifVN-Regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Budweiser Serif VN";
	src: url("@/assets/fonts/BudweiserSerifVN-BoldItalic.woff2") format("woff2");
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Budweiser Serif VN";
	src: url("@/assets/fonts/BudweiserSerifVN-RegularItalic.woff2") format("woff2");
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "SVN-Franklin Gothic Book";
	src: url("@/assets/fonts/SVN-FranklinGothic-Book.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "SVN-Franklin Gothic Cn Demi";
	src: url("@/assets/fonts/SVN-FranklinGothic-DemiBoldCondensed.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "SVN-Franklin Gothic Cn";
	src: url("@/assets/fonts/SVN-FranklinGothic-MediumCondensed.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "SVN-Franklin Gothic Demi";
	src: url("@/assets/fonts/SVN-FranklinGothic-DemiBold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
