:root {
	--base: #4b4b4b;
	--primary: #de0025;
	--red: #dd0616;
	--red1: #b80107;
	--footer: #dc0019;
	--secondary: #97d1a7;
	--light: #fff0ba;
	--grey: #bdbdbd;
	--sub-1: #335cab;
	--sub-2: #00be90;
	--sub-3: #64ccc9;
	--sub-4: #cc9064;
	--sub-5: #cc6464;
	--white: #fff;
	--transition: all ease 0.6s;
	--border-radius: 5px;

	--f-roboto: "Roboto", serif;
	--f-main: "UTM Avo", sans-serif;
	--f-best: "SVN-Egregio Script", sans-serif;
	--f-second: "SVN-Egregio Script", sans-serif;
}
