.my-header {
	position: fixed !important;
	top: -1px;
	left: 0;
	margin-bottom: -0.83px;
	height: calc(var(--zaui-safe-area-inset-top, 0px) + 44px);
	width: 100%;
	max-width: 100vw;
	min-width: 100vw;
	overflow: hidden;
	box-sizing: border-box;
	background: var(--zaui-light-header-background-color, #ffffff);
	color: #fcf7e3;
	padding: calc(var(--zaui-safe-area-inset-top, 0px) + 16px) 12px 16px 12px;
	display: flex;
	align-items: center;
	z-index: 2222;
	background-color: #a40000;
	font-weight: 600;

	.my-header-back {
		width: 24px;
		height: 24px;
		position: relative;
		display: inline-block;
		.my-btn-tertiary.my-btn-neutral {
			background-color: transparent;
			color: var(--zaui-light-button-tertiary-neutral-text, #141415);
		}
		.my-header-back-btn {
			padding: 0;
			margin: 0;
			width: 100%;
			height: 100%;
		}
		.my-btn {
			i {
				min-width: 23px;
				width: 100%;
				height: 100%;
				justify-content: center;
				align-items: center;
				display: flex;
				padding: 0 4px;
				.fa-chevron-left::before {
					content: "\f053";
					color: #ffffff;
				}
			}
		}
	}
	.my-header-home {
		width: 24px;
		height: 24px;
		flex: 1; /* 30% of the header */
		img {
			width: 24px;
			height: 24px;
		}
	}
	.my-header-title {
		flex: 9;
		overflow: hidden;
		text-overflow: ellipsis;
		line-height: 36px;
		font-weight: 600;
		white-space: nowrap;
		display: inline-block;
		font-size: 0.9275rem;
		color: #fcf7e3;
	}
	.logo {
		position: absolute;
		right: 95px; /* distance from right edge */
		top: 40%; /* vertically center */
		transform: translateY(-50%);
		height: 20px;
		width: 70px;
		animation: slideLogo 20s linear infinite;
	}
}

@keyframes slideLogo {
	0% {
		transform: translateX(0) translateY(-50%);
	}
	2% {
		transform: translateX(-30px) translateY(-50%);
	}
	4% {
		transform: translateX(0) translateY(-50%);
	}
	100% {
		transform: translateX(0) translateY(-50%);
	}
}
.LayoutStructure {
	margin-top: 44px;
}

.rotate {
	position: fixed;
	z-index: 9999;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-grid-column-align: center;
	justify-self: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	background-color: black;
	display: none;
}
.rotate .main {
	width: 100px;
	margin: auto;
}
.rotate .text {
	font-size: 1em;
	color: white;
	text-align: center;
	font-weight: 600;
}

@media (orientation: landscape) {
	.rotate {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
	html,
	body {
		width: 100%;
		max-width: 100%;
		margin: inherit;
	}
}
@media (orientation: landscape) and (min-width: 700px) and (max-width: 720px) {
	.rotate {
		display: none !important;
	}
}
