.ReactModalPortal {
	.ReactModal__Content--after-open {
		.modal {
			transform: translateY(0px) !important;
			opacity: 1 !important;
		}
	}

	.ReactModal__Overlay {
		z-index: 2000;
		justify-content: center;
		align-items: center;
		display: flex;
		background-color: rgba(0, 0, 0, 0.7) !important;
		background-size: 100% !important;

		.ReactModal__Content {
			inset: 0 !important;
			width: 100%;
			max-width: 400px;
			padding: 15px 20px !important;
			margin: 0 auto;
			border: NONE !important;
			display: flex;
			align-items: flex-start;
			background-color: transparent !important;
			.content {
				padding: 0px !important;
				font-size: 1rem !important;
			}

			.modal {
				width: 100%;
				position: relative;
				transform: translateY(20px);
				transition: all ease 0.5s 0.1s;
				opacity: 0;

				&.secondary {
					.md-content {
						// background: var(--secondary);
						background: url("@/assets/images/mi-mie/bg.png") center no-repeat;
						background-size: cover;
						color: rgb(164, 28, 28);
					}
				}

				&.form-modal {
					.md-content {
						// background: url("@/assets/images/32_2.png") center no-repeat;
						background-size: cover;
					}

					.form {
						background-color: transparent;
						padding: 0;
						width: 100%;
						margin: 50% auto 0;
						&.isZlpay {
							form {
								width: 100%;
							}
						}
						form {
							width: 120px;
							margin: auto;
						}
						.f-title {
							color: var(--secondary);
							font-weight: bold;
							margin-bottom: 12px;
							padding-left: 12px;
							text-align: center;
							@media (max-width: 360px) {
								font-size: 0.875em;
							}
						}
						.form-groups {
							@media (max-width: 360px) {
								margin-bottom: 8px;
							}
							&.radio {
								.form-groups-w {
									label {
										display: flex;
										align-items: center;
										@media (max-width: 360px) {
											font-size: 12px !important;
										}
										span {
											border-radius: 100%;
											width: 24px;
											height: 24px;
										}
										img {
											width: 30px;
											margin-left: 10px;
											margin-top: -10px;
										}
									}
								}
							}
						}
					}
				}

				.close-md {
					width: 30px;
					position: absolute;
					top: -10px;
					right: 16px;
					z-index: 78;
				}

				.md-content {
					padding: 24px;
					border-radius: 20px;
					border: 1px solid black;
					box-shadow: inset 5px 4px 5px 0 rgb(255 148 148);

					p {
						font-size: 0.875em;
						color: var(--primary);
						line-height: 1.2;
						text-align: center;
						margin: 0 0 12px 0;

						&:last-child {
							margin: 0;
						}
					}
				}

				.action {
					position: relative;
					z-index: 5;
					display: flex;
					gap: 10px;

					.button {
						width: calc(50% - 5px);

						.wrap {
							min-width: auto;
							width: 100%;
							padding: 0 10px 2px;
							font-size: 0.875em;
						}
					}
				}
			}
		}
	}
}

@keyframes rotate {
	0%,
	100% {
		transform: translate(-50%, -20%) rotate(0);
	}

	50% {
		transform: translate(-50%, -20%) rotate(720deg);
	}
}

@keyframes zoominout {
	0%,
	100% {
		transform: scale(0.9) rotate(0);
	}

	50% {
		transform: scale(1.1) rotate(15deg);
	}
}
.react-select-container {
	position: relative;

	&::before {
		width: 16px;
		height: 16px;
		display: block;
		content: "";
		position: absolute;
		top: 50%;
		right: 1.5rem;
		transform: translateY(-50%);
		// background: url("../../assets/images/icon_select.png") center no-repeat;
		background-size: 100%;
		z-index: 22;
	}
}
.react-select__control {
	border-radius: 50px !important;
	height: 50px;
	overflow: hidden;
	background-color: #970202;
	.react-select__value-container {
		padding: 0 1rem !important;
	}

	.react-select__input-container {
		margin: 0 !important;
		padding: 0 !important;
		width: 100%;
	}

	.react-select__placeholder {
		color: #970202;
		font-size: 1.125rem;
		font-weight: bold;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.react-select__single-value {
		color: #970202;
		// text-align: center;
		font-size: 1.125rem;
		font-weight: bold;
		margin: 0;
		padding: 0 1rem 0 0 !important;
		line-height: 40px;
	}

	.react-select__indicators {
		opacity: 0;
		position: absolute;
		color: #fff !important;
	}

	.react-select__input {
		border: none !important;

		&:focus {
			border: none !important;
		}
	}

	.react-select__indicator-separator {
		color: fff;
	}
}

.react-select__menu {
	z-index: 222 !important;
	color: black !important;
	background: #fff !important;
	font-size: 1.125rem;
	font-weight: bold;

	.react-select__option {
		color: #333 !important;
		background-color: #fff !important;
	}

	.react-select__option--is-selected {
		color: #8d050a !important;
		background-color: #fff !important;
		// /* optional: soft red background */
	}

	.react-select__option--is-focused {
		background-color: #e1e1e1 !important;
		color: var(--primary) !important;
	}
}
