.ReactModalPortal {
	.ReactModal__Content--after-open {
		.modal {
			transform: translateY(0px) !important;
			opacity: 1 !important;
		}
	}

	.ReactModal__Overlay {
		z-index: 2000;
		justify-content: center;
		align-items: center;
		display: flex;
		background-color: rgba(0, 0, 0, 0.7) !important;
		background-size: 100% !important;

		.ReactModal__Content {
			inset: 0 !important;
			width: 100%;
			max-width: 400px;
			padding: 27px 20px !important;
			margin: 0 auto;
			border: NONE !important;
			display: flex;
			align-items: flex-start;
			background-color: transparent !important;

			.modal {
				width: 100%;
				position: relative;
				transform: translateY(20px);
				transition: all ease 0.5s 0.1s;
				opacity: 0;

				&.secondary {
					.md-content {
						background: var(--secondary);
					}
				}

				&.score {
					.md-content {
						background: url("@/assets/images/31.png") center no-repeat;
						background-size: cover;

						.text {
							margin-top: 35%;
							padding: 40px 20px 20px;

							.get-score {
								color: var(--primary);
								font-size: 2.25em;
								font-weight: bold;
								padding: 0 4px;

								img {
									width: 20px;
								}
							}
						}
					}
				}

				&.form-modal {
					.md-content {
						background: url("@/assets/images/32_2.png") center no-repeat;
						background-size: cover;
					}

					.form {
						background-color: transparent;
						padding: 0;
						width: 100%;
						margin: 50% auto 0;
						&.isZlpay {
							form {
								width: 100%;
							}
						}
						form {
							width: 120px;
							margin: auto;
						}
						.f-title {
							color: var(--secondary);
							font-weight: bold;
							margin-bottom: 12px;
							padding-left: 12px;
							text-align: center;
							@media (max-width: 360px) {
								font-size: 0.875em;
							}
						}
						.form-groups {
							@media (max-width: 360px) {
								margin-bottom: 8px;
							}
							&.radio {
								.form-groups-w {
									label {
										display: flex;
										align-items: center;
										@media (max-width: 360px) {
											font-size: 12px !important;
										}
										span {
											border-radius: 100%;
											width: 24px;
											height: 24px;
										}
										img {
											width: 30px;
											margin-left: 10px;
											margin-top: -10px;
										}
									}
								}
							}
						}
					}
				}

				.close-md {
					width: 30px;
					position: absolute;
					top: -10px;
					right: 16px;
					z-index: 78;
				}

				.md-content {
					padding: 24px;
					border-radius: 20px;
					border: 1px solid black;
					box-shadow: inset 5px 4px 5px 0 rgba(255, 255, 255, 0.7);

					.text {
						padding: 40px 20px;

						p {
							font-size: 0.875em;
							color: black;
							line-height: 1.2;
							text-align: center;
							margin: 0 0 12px 0;

							&:last-child {
								margin: 0;
							}
						}

						strong {
							font-weight: bold;
						}
					}
				}

				.action {
					position: relative;
					z-index: 5;
					display: flex;
					gap: 10px;

					.button {
						width: calc(50% - 5px);

						.wrap {
							min-width: auto;
							width: 100%;
							padding: 0 10px 2px;
							font-size: 0.875em;
						}
					}
				}
			}
		}
	}
}

@keyframes rotate {
	0%,
	100% {
		transform: translate(-50%, -20%) rotate(0);
	}

	50% {
		transform: translate(-50%, -20%) rotate(720deg);
	}
}

@keyframes zoominout {
	0%,
	100% {
		transform: scale(0.9) rotate(0);
	}

	50% {
		transform: scale(1.1) rotate(15deg);
	}
}
