.container {
	max-width: 450px;
	margin: auto;
	position: relative;

	.page-content {
		padding-top: 60px;
		min-height: 100vh;
		box-sizing: border-box;
		// background: url("@/assets/images/bg1.png") no-repeat center center;
		// background-size: cover;

		// background-color: rgb(164 0 0 / var(--tw-bg-opacity, 1)) !important;
	}
}
