.content-w {
	width: 100%;
	max-width: 2048px;
	margin: 0 auto;

	&.size-lg {
		width: 90%;
		max-width: 1600px;

		@media (max-width: 1360px) {
			width: 100%;
		}
	}

	&.size-md {
		width: 80%;
		max-width: 1200px;

		@media (max-width: 1024px) {
			width: 100%;
		}
	}
}
