.homepage {
	// padding-bottom: 100px;
	background-color: rgb(164 0 0 / var(--tw-bg-opacity, 1)) !important;
	.container {
		padding: 32px 24px;
		// background: url("@/assets/images/bg1.png") center no-repeat;
		// background-size: cover;
		background-color: rgb(164 0 0 / var(--tw-bg-opacity, 1));
		position: relative;
		overflow: hidden;

		p {
			font-size: 0.8125em;
			text-align: center;
			margin: 0 0 12px 0;
			width: 80%;
			position: relative;
			z-index: 2;
			margin: auto;

			strong {
				font-weight: bold;
			}
		}
		.wedding-name {
			font-family: var(--f-best);
			color: rgb(252, 247, 227);
			position: relative;
		}
	}
}
