.tnc {
	.content {
		width: 100%;
		text-align: justify;
		border-radius: 20px;
		position: relative;
		color: #000;

		.table-wrapper {
			width: 100%;
			overflow-x: auto;
			margin-top: 1.5em;
			margin-bottom: 1.5em;
			border-radius: 15px;
		}

		p {
			margin: 8px 0;
			&:has(em) {
				text-align: center;
			}
		}
		ol {
			li {
				margin: 0.5rem 0;
			}
		}
		ul {
			list-style: circle;
			padding-left: 1rem;
		}
		img {
			width: 70%;
			margin: 0 auto;
		}

		table {
			width: 800px;
			border-collapse: collapse;
			font-size: 0.875rem;
			background-color: #f1f1f1;
			td {
				padding: 4px;
				text-align: center;
				border: 1px solid #fff;
			}

			thead {
				font-weight: bold;
				text-align: center;
				border-bottom: 2px solid #fff;
			}

			th {
				padding: 8px;
				border: 1px solid #fff;
			}
		}
	}
}
