.state {
	position: relative;
	width: 80%;
	margin: 0 auto;
	transform: translateY(-50%);
}

.wheel-container {
	border-radius: 50%;
	width: 90%;
	margin-inline: auto;
	z-index: 1;
	position: relative;
	// overflow: hidden;

	.wheel-items {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		inset: 0;
		.bg-wrapper {
			width: 92%;
			height: 92%;
			border-radius: 50%;
			position: relative;
		}
		.bg-inside {
			position: absolute;
			border: 1px solid #e8d0a4;
			width: 93%;
			height: 93%;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			border-radius: 50%;

			overflow: hidden;
			.wheel-item {
				width: 50%;
				height: 50%;
				position: absolute;
				top: 0;
				right: 0;
				transform-origin: 0 100%;

				&.wheel-hopqua {
					div {
						padding-top: 7%;

						img {
							max-width: 33%;
						}
					}
				}

				.goodluck-container {
					padding-top: 30%;
				}

				.voucher-20-container {
					padding-top: 10%;
				}

				div {
					position: absolute;
					left: -100%;
					height: 200%;
					width: 200%;
					display: block;
					text-align: center;

					img {
						max-width: 17%;
						display: inline-block;
						word-break: break-word;
						// transform: rotate(165deg);
					}
				}
			}
		}
	}
	.image-spin {
		position: absolute;
		top: 50%;
		right: 50%;
		width: 17%;
		transform: translate(60%, -50%);
	}

	.image-castrol {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 25%;
		transform: translate(-50%, -50%);
	}
}
