.wedding {
	// padding-bottom: 100px;
	background: url("@/assets/images/mi-mie/bg.png") center no-repeat;
	background-size: cover;
	color: rgb(164, 28, 28);
	.container {
		padding: 10px 2px;

		position: relative;
		overflow: hidden;

		.wedding-title {
			font-family: var(--f-main);
			font-size: 36px;
			font-weight: 600;
			text-align: center;
			line-height: 50px;
		}

		p {
			font-size: 0.8125em;
			text-align: center;
			margin: 0 0 12px 0;
			width: 80%;
			position: relative;
			z-index: 2;
			margin: auto;

			strong {
				font-weight: bold;
			}
		}
		.wedding-name {
			font-family: var(--f-best);
			color: rgb(164, 28, 28);
			position: relative;
		}
	}
	.swipper-img {
		filter: invert(17%) sepia(87%) saturate(2973%) hue-rotate(343deg) brightness(87%) contrast(97%);
	}
	@keyframes swipe-left-right {
		0% {
			transform: translateY(-50%) translateX(0);
			opacity: 0.6;
		}
		50% {
			transform: translateY(-50%) translateX(20px);
			opacity: 0.8;
		}
		100% {
			transform: translateY(-50%) translateX(0);
			opacity: 0.6;
		}
	}

	@keyframes swipe-right-left {
		0% {
			transform: translateY(-50%) translateX(0);
			opacity: 0.6;
		}
		50% {
			transform: translateY(-50%) translateX(-20px);
			opacity: 0.8;
		}
		100% {
			transform: translateY(-50%) translateX(0);
			opacity: 0.6;
		}
	}

	.swipper-img {
		transform-origin: center center; /* quan trọng để rotate không bị lệch */
	}

	.swipe-left-right {
		// animation: swipe-left-right 1.2s ease-in-out infinite;
		animation: swipe-left-right 1.2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
	}

	.swipe-right-left {
		// animation: swipe-right-left 1.2s ease-in-out infinite;
		animation: swipe-right-left 1.2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
	}
}
@keyframes lineExpand {
	from {
		width: 0;
		opacity: 0;
	}
	to {
		width: 75%;
		opacity: 1;
	}
}
.animate-lineExpand {
	animation: lineExpand 1s ease-out forwards;
}
