// @keyframes fall {
// 	0% {
// 		transform: translateY(-50px) rotate(0deg);
// 		opacity: 1;
// 	}
// 	100% {
// 		transform: translateY(100vh) rotate(360deg);
// 		opacity: 0;
// 	}
// }

// @keyframes fall {
// 	0% {
// 		transform: translateY(-50px);
// 		opacity: 1;
// 	}
// 	100% {
// 		transform: translateY(100vh);
// 		opacity: 0;
// 	}
// }

@keyframes fallZigZag {
	0% {
		transform: translateY(-50px) translateX(0);
		opacity: 1;
	}
	25% {
		transform: translateY(25vh) translateX(-20px);
	}
	50% {
		transform: translateY(50vh) translateX(20px);
	}
	75% {
		transform: translateY(75vh) translateX(-10px);
	}
	100% {
		transform: translateY(100vh) translateX(0);
		opacity: 0;
	}
}

.falling-heart {
	position: absolute;
	pointer-events: none; // không cản click
	// animation: fall 10s linear forwards;
	animation:
		fallZigZag 8s linear forwards,
		blink 1s infinite;
}
