form {
	.form-groups {
		margin-bottom: 16px;
		width: 100%;

		.form-groups-w {
			width: 100%;
			&.has-icon {
				position: relative;
				input {
					// padding-left: 44px;
				}
				.icon-input {
					position: absolute;
					top: 50%;
					left: 14px;
					transform: translateY(-50%);
					width: 18px;
				}
				.icon-phone {
					width: 20px;
				}
			}
		}

		&.width-50 {
			width: calc(50% - 5px);
		}

		&.camera {
			.form-groups-w {
				position: relative;

				input {
					padding: 0 5rem 0 1rem;
				}

				.icon {
					position: absolute;
					bottom: 2px;
					right: 2px;
					height: 46px;
					width: auto;
				}
			}
		}

		&.captcha {
			.form-groups-w {
				position: relative;
				input {
					padding: 0 160px 0 1rem;
				}
				.code {
					height: 50px;
					bottom: 0;
					right: 0px;
					position: absolute;
					background-color: #30592b;
					border: 2px solid white;
					border-radius: 50px;
					display: flex;
					align-items: center;
					justify-content: space-between;
					width: 150px;
					padding: 0 5px;
					.captcha {
						width: calc(100% - 32px);
						display: flex;
						justify-content: center;
					}
					.capt {
						height: 24px;
						width: auto;
					}

					.refresh {
						width: 32px;
					}
				}
			}
		}

		&.checkbox {
			label {
				padding-left: 0;
				display: flex;
				align-items: flex-start;

				.cbox {
					width: 20px;
					height: 20px;
					border-radius: 20px;
					border: 1px solid #cececd;
				}

				.text {
					text-align: left;
					width: calc(100% - 20px);
					padding-left: 12px;
					font-size: 0.8125rem;
					line-height: 1.4;

					a {
						text-decoration: underline;
					}
				}

				input {
					display: none;
				}
			}

			input[type="checkbox"]:checked + .cbox {
				background: url("../../assets/images/checkbox.png") center no-repeat;
				background-size: 70% 70%;
				// border: none;
			}

			.error {
				padding-left: 20px;
			}
		}

		&:last-child {
			margin-bottom: 0;
		}

		input[type="checkbox"],
		input[type="radio"] {
			display: none;
		}

		label {
			display: flex;
			align-items: center;
			font-size: .875rem;
			color: #fff;
			margin-bottom: 8px;
			padding-left: 0rem;
			display: flex;
			flex-wrap: wrap;
			text-align: center;
			justify-content: center;
			margin-bottom: 12px;
			span {
				display: block;
				width: 100%;
				font-size: 12px;
				font-weight: 400;
			}
		}

		.error {
			font-size: 0.8375rem;
			color: rgba(253, 239, 166, 1);
			// margin-top: 4px;
			font-weight: 600;
			// font-style: italic;
			font-size: 13px;
			position: relative;
			text-align: left !important;
			&:before {
				content: "";
				position: absolute;
				top: 2px;
				left: 0;
				width: 16px;
				height: 16px;
				background: url("../../assets/images/icon_info.png") center no-repeat;
				background-size: 100% 100%;
			}

			img {
				width: 20px;
				margin-right: 10px;
			}
			padding-left: -1.5rem !important;
		}

		.noted {
			font-size: 0.8375rem;
			color: rgba(253, 239, 166, 1);
			margin-top: 4px;
			// font-weight: 300;
			// padding: 0px 20px;
			padding-left: 1.5rem;
		}

		input {
			width: 100%;
			background-size: 100% 100%;

			padding: 0 0.75rem;
			// border: 1px solid #2e0d3b !important;
			outline: none;
			border-radius: 50px;
			// text-align: center;
			height: 40px;
			color: #000000;
			transition: all ease 0.5s;
			line-height: 2;
			font-weight: bold;
			outline: none;
			font-size: 15px;
			background-color: #fff;

			:disabled {
				background-color: #ccc;
			}

			&::-webkit-input-placeholder {
				color: #655c5c;
			}

			&::-moz-placeholder {
				/* Firefox 19+ */
				color: #655c5c;
			}

			&:-ms-input-placeholder {
				/* IE 10+ */
				color: #655c5c;
			}

			&:-moz-placeholder {
				/* Firefox 18- */
				color: #655c5c;
			}

			&:focus {
				border: 2px solid var(--primary) !important;
			}
		}

		select {
			padding: 0 2px;
		}

		input[type="checkbox"] + label:hover,
		input[type="radio"] + label:hover {
			cursor: pointer;
		}

		input[type="checkbox"] + label span,
		input[type="radio"] + label span {
			display: inline-block;
			vertical-align: middle;
			background: transparent;
			cursor: pointer;
			border-radius: 100%;
			border: 2px solid white;
			width: 20px;
			height: 20px;
			transition: all ease 1s;
			background: transparent;
		}

		input[type="checkbox"] + label span,
		input[type="radio"] + label span {
			content: "";
		}

		input[type="checkbox"]:checked + label span,
		input[type="radio"]:checked + label span {
			background: url("../../assets/images/checkbox.png") center no-repeat;
			background-size: 110%;
		}

		.react-select-container {
			position: relative;

			&::before {
				width: 16px;
				height: 16px;
				display: block;
				content: "";
				position: absolute;
				top: 50%;
				right: 1.5rem;
				transform: translateY(-50%);
				background: url("../../assets/images/icon_select.png") center no-repeat;
				background-size: 100%;
				z-index: 22;
			}
		}

		.react-select__control {
			border-radius: 50px;
			height: 40px;
			overflow: hidden;

			.react-select__value-container {
				padding: 0 1rem !important;
			}

			.react-select__input-container {
				margin: 0 !important;
				padding: 0 !important;
				width: 100%;
			}

			.react-select__placeholder {
				color: #655c5c;
				margin: 0 !important;
				font-size: 16px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}

			.react-select__single-value {
				color: #a1948e;
				// text-align: center;
				font-size: 1rem;
				font-weight: bold;
				margin: 0;
				padding: 0 1rem 0 0  !important;
				line-height: 40px;
			}

			.react-select__indicators {
				opacity: 0;
				position: absolute;
				color: #a1948e !important;
			}

			.react-select__input {
				border: none !important;

				&:focus {
					border: none !important;
				}
			}

			.react-select__indicator-separator {
				color: blue;
			}
		}

		.react-select__menu {
			z-index: 222 !important;
			color: black !important;
			background: #fff !important;

			.react-select__option {
				color: #333 !important;
				background-color: #fff !important;
			}

			.react-select__option--is-selected {
				// color: #8d050a !important;
				// background-color: #fff !important;
				/* optional: soft red background */
			}
			.react-select__option--is-focused {
				background-color: #ffadad !important;
				color: #8d050a !important;
			}
		}
	}

	.note {
		font-size: 0.75rem;
		color: white;
		font-style: italic;
	}
}

.zaui-select {
	position: relative !important;
	border: none;
	margin: 0;

	.zaui-input-affix-wrapper {
		position: relative;
		margin: 0 !important;
		border-radius: 0 !important;
		background-color: transparent !important;
		border: none !important;

		&::before {
			width: 16px;
			height: 16px;
			display: block;
			content: "";
			position: absolute;
			top: 50%;
			right: 1.5rem;
			transform: translateY(-50%);
			background: url("../../assets/images/icon_select.png") center no-repeat;
			background-size: 100%;
			z-index: 22;
		}
	}

	input {
		border: none !important;
		height: 40px;
	}

	.zaui-input-group-addon,
	.zaui-input-suffix {
		display: none !important;
	}
}

.zaui-input-status-success svg {
	display: none !important;
}

.note-alert {
	text-align: center;
	color: rgba(253, 239, 166, 1);
	font-size: 12px;
}
.captcha-cs {
	display: inline;
}
